@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:wght@300;400;700;900&display=swap');

:root {
  --shadow: 4px 10px 15px -3px rgba(0, 0, 0, 0.45), 4px 4px 6px -2px rgba(0, 0, 0, 0.25);
  --radius: 4px;
  --bg-color: #fff;
  --main-text-color: DarkSlateGray;
  --accent-color: dodgerblue;
  --secondary-text-color: GhostWhite;
  --main-color: GhostWhite;
  --sun-color: DarkKhaki;
  --moon-color: #022c43;
  --tip-title: 'Lato', sans-serif;
  --tip-text: 'Roboto', sans-serif;
}

* {
  /* box-sizing: border-box;
  margin: 0; */
  font-family: 'Lato', sans-serif;
}

body {
  /*   height: 100vh;
  width: 100vw; */
  background-image: url(https://pm1.narvii.com/6748/b449a84b14747368e6f931030e4b3de40b4c9d1fv2_hq.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.shadow {
  box-shadow: var(--shadow);
}

.shadow__filter {
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.6));
  margin-top: 40px;
}

.logo {
  width: 50px;
  filter: drop-shadow(var(--shadow));
  margin: 0;
  padding: 0;
}

#banner div {
  max-height: 70vh;
}

.manito:hover {
  cursor: pointer;
}

.img__car {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card {
  overflow: hidden;
}

.card__img--resize {
  height: 350px;
  object-fit: scale-down;
  object-position: center;
}

.card__img--resize:hover {
  transform: scale(1.7);
  transition: 1.2 ease;
}

.card__logo--resize {
  width: 60vw;
}

.tab__img--resize {
  aspect-ratio: 12 / 8;
  width: 75%;
  border-radius: 4px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #ff851b;
  filter: drop-shadow(2px 2px 10px black);
  transform: scale(1.1);
  transition: .5s ease-in-out all;
}

.line {
  width: 100%;
  height: 4px;
  background-color: #1f1100;
  border-radius: 5px;
}